/*
.head{
	text-align: center;
	font-size: 3em;
	font-weight: bold;
}
.link{
	text-decoration: none;
	margin: 5px;
	margin-left: 50px;
	padding: 10px 20px;
	border: 1px solid gray;
	font-size: 2em;
}
*/
body{
	background-color: gray;
}



